
    <h1>MySHop HomePage</h1>

    <%-contentFor("footer-area")  %>
    <p>This content is added by homepage</p>


    <%-contentFor("styles-area")  %>
    <style>
        h1{
            background-color: blueviolet;
        }
    </style>