<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="/admin/dashboard">Admin Panel</a></li>
    
</ul>